{% load static %}
 <section id="banner" class="bg-cover bg-center">
     <div class="max-w-7xl mx-auto px-4 py-36 sm:px-6 lg:px-8 text-black">
         <div class="w-full md:w-3/4 lg:w-1/2">
             <h1 class="text-black font-bold text-4xl">Educación inclusiva, equitativa y de calidad</h1>
             <p class="text-black text-lg mt-2 mb-4">Garantizamos una educación inclusiva, equitativa y de calidad y promover oportunidades de aprendizaje durante toda la vida para todos</p>
             <!-- This is an example component -->

             <div class="pt-2 relative mx-auto">
                 <button type="submit" class="w-full bg-blue-500 hover:bg-blue-700 h-10 px-5 pr-16 rounded-lg text-white font-bold">
                     Realizar Prueba
                 </button>
             </div>

            </div>
     </div>
 </section>