{% extends 'base.html' %}
{% load static %}
{% block head %}
    <!-- My css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock%}
{% block body %}
    {% include 'components/navbar.html' %}
     <section id="banner" class="bg-cover bg-center">
         <div class="max-w-7xl mx-auto px-4 py-36 sm:px-6 lg:px-8 text-white">
             <div class="w-full md:w-3/4 lg:w-1/2">
                 <h1 class="text-black font-bold text-4xl">5MinTest Depression</h1>
             </div>
         </div>
    </section>

    <form method="post" action="{% url 'dps:result' %}">
        {% csrf_token %}
        <section class="py-12">
            <h1 class="text-gray-600 text-center text-3xl mb-6">5MinTest Depression</h1>
            <p class="text-gray-600 text-center text-sm mb-6">Este es un formulario para detectar y evaluar el nivel de depresión en estudiantes universitarios. </p>
            <h4 class="text-gray-600 text-center text-xl mb-6">Datos Sociodemograficos</h4>
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-6 gap-y-8">
                <article>
                    <p>Sexo</p>
                    <ul class="list-group">
                        <li>
                            <div>
                                <input type="radio" id="sx1" name="sx" value="Masculino" required="required">
                                <label for="sx1" class="text-sm">Masculino.</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="sx2" name="sx" value="Femenino" required="required">
                                <label for="sx2" class="text-sm">Femenino</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="sx3" name="sx" value="Prefiero no Decirlo." required="required">
                                <label for="sx3" class="text-sm">Prefiero no Decirlo.</label>
                          </div>
                        </li>
                    </ul>
                </article>

                <article>
                    <label for="ciaa" class="mb-3">Ciclo Academico Actual</label>
                    <ul class="list-group">
                        <select name="ciaa" id="ciaa" required>
                            <option value="">-- Seleccionar-- </option>
                            <option value="Ciclo I">Ciclo I</option>
                            <option value="Ciclo II">Ciclo II</option>
                            <option value="Ciclo III">Ciclo III</option>
                            <option value=">Ciclo IV">Ciclo IV</option>
                            <option value="Ciclo V">Ciclo V</option>
                            <option value="Ciclo VI">Ciclo VI</option>
                            <option value="Ciclo VII">Ciclo VII</option>
                            <option value="Ciclo VIII">Ciclo VIII</option>
                            <option value=">Ciclo IX">Ciclo IX</option>
                            <option value="Ciclo X">Ciclo X</option>
                        </select>

                    </ul>
                </article>
                <article>
                    <label for="ec" class="mb-3">Estado Civil</label>
                    <ul class="list-group">
                         <select name="ec" id="ec" required>
                             <option value="">-- Seleccionar-- </option>
                             <option value="Soltero">Soltero(a)</option>
                             <option value="Casado">Casado(a)</option>
                             <option value="Viudo">Viudo(a)</option>
                             <option value="Divorciado">Divorciado(a)</option>
                             <option value="Conviviente">Conviviente</option>
                        </select>
                    </ul>
                </article>

                <article>
                    <p>Ocupacion</p>
                    <ul class="list-group">
                        <li>
                            <div>
                                <input type="radio" id="ocu1" name="ocu" value="Tiene trabajo estable" required="required">
                                <label for="ocu1" class="text-sm">Tiene trabajo estable</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="ocu2" name="ocu" value="Tiene trabajo eventual" required="required">
                                <label for="ocu2" class="text-sm">Tiene trabajo eventual</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="ocu3" name="ocu" value="No trabaja" required="required">
                                <label for="ocu3" class="text-sm">No trabaja</label>
                          </div>
                        </li>
                    </ul>
                </article>
                <article>
                    <label for="tf" class="mb-3">Tipo de Familia</label>
                    <ul class="list-group">
                         <select name="tf" id="tf" required>
                             <option value="">-- Seleccionar-- </option>
                             <option value="Nuclear">Nuclear</option>
                             <option value="Monoparental">Monoparental</option>
                             <option value="Extendida">Extendida</option>
                             <option value="Amplia">Amplia</option>
                             <option value="Reconstituida">Reconstituida</option>
                             <option value="Equivalente Familia">Equivalente Familia</option>
                             <option value="Persona Sola">Persona Sola</option>
                        </select>
                    </ul>
                </article>
                <article>
                    <label class="block mb-3" for="edad">Edad</label>
                    <input class="mb-3" id="edad" name="edad" min="16" max="30" type="number" placeholder="Edad" required>
                </article>
            </div>
            <h4 class="text-gray-600 text-center text-xl mb-6">Inventario de Depresion de Beck (BDI-II)</h4>
            <p class="text-gray-600 text-center text-sm m-6">Instrucciones: Este cuestionario consta de 21 grupos de enunciados. Por favor, lea cada uno de ellos cuidadosamente. Luego elija uno de cada grupo, el que mejor describa el modo como se ha sentido las ultimas dos semanas, incluyendo el día de hoy. Marque el numero correspondiente al enunciado elegido. Si varios enunciados de un mismo grupo le parecen igualmente apropiados, marque el numero más alto. Verifique que no haya elegido más de uno por grupo, incluyendo el ítem 16 (Cambio en los hábitos de sueño) y el ítem 18 (Cambio de apetito).</p>

            <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-x-2 gap-y-4">
                <article>
                    <p>1.- Tristeza</p>
                    <ul class="list-group">
                        <li>
                            <div>
                                <input type="radio" id="bdi10" name="bdi1" value="0" required="required">
                                <label for="bdi10" class="text-sm">0 No me siento triste.</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi11" name="bdi1" value="1" required="required">
                                <label for="bdi11" class="text-sm">1 Me siento triste gran parte del tiempo.</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi12" name="bdi1" value="2" required="required">
                                <label for="bdi12" class="text-sm">2 Me siento triste todo el tiempo.</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi13" name="bdi1" value="3" required="required">
                                <label for="bdi13" class="text-sm">3 Me siento tan triste o soy tan infeliz que no puedo soportarlo.</label>
                            </div>
                        </li>
                    </ul>
                </article>
                <article>
                    <p>2.- Pesimismo </p>
                    <ul class="list-group">
                        <li>
                            <div>
                                <input type="radio" id="bdi20" name="bdi2" value="0" required="required">
                                <label for="bdi10" class="text-sm">0 No estoy desalentado respecto del mi futuro</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi21" name="bdi2" value="1" required="required">
                                <label for="bdi11" class="text-sm">1 Me siento más desalentado respecto de mi futuro que lo que solía estarlo.</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi22" name="bdi2" value="2" required="required">
                                <label for="bdi12" class="text-sm">2 No espero que las cosas funcionen para mi.</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi23" name="bdi2" value="3" required="required">
                                <label for="bdi13" class="text-sm">3 Siento que no hay esperanza para mi futuro y que sólo puede empeorar.</label>
                            </div>
                        </li>
                    </ul>
                </article>
                <article>
                    <p>3.- Fracaso  </p>
                    <ul class="list-group">
                        <li>
                            <div>
                                <input type="radio" id="bdi30" name="bdi3" value="0" required="required">
                                <label for="bdi30" class="text-sm">0 No me siento como un fracasado</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi31" name="bdi3" value="1" required="required">
                                <label for="bdi31" class="text-sm">1 He fracasado más de lo que hubiera debido.</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi32" name="bdi3" value="2" required="required">
                                <label for="bdi32" class="text-sm">2 Cuando miro hacia atrás. veo muchos fracasos</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi33" name="bdi3" value="3" required="required">
                                <label for="bdi33" class="text-sm">3 Siento que como persona soy un fracaso total.</label>
                            </div>
                        </li>
                    </ul>
                </article>
                <article>
                    <p>4.- Perdida de Placer </p>
                    <ul class="list-group">
                        <li>
                            <div>
                                <input type="radio" id="bdi20" name="bdi4" value="0" required="required">
                                <label for="bdi40" class="text-sm">0 Obtengo tanto placer como siempre por las cosas de las que disfruto</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi21" name="bdi4" value="1" required="required">
                                <label for="bdi41" class="text-sm">1 No disfruto tanto de las cosas como solía hacerlo</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi22" name="bdi4" value="2" required="required">
                                <label for="bdi42" class="text-sm">2 Obtengo muy poco placer de las cosas que solia disfrutar</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi23" name="bdi4" value="3" required="required">
                                <label for="bdi43" class="text-sm">3 No puedo obtener ningún placer de las cosas de las que solía disfrutar</label>
                            </div>
                        </li>
                    </ul>
                </article>
                <article>
                    <p>5. Sentimientos de Culpa</p>
                    <ul class="list-group">
                        <li>
                            <div>
                                <input type="radio" id="bdi50" name="bdi5" value="0" required="required">
                                <label for="bdi50" class="text-sm">0 No me siento particularmente culpable</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi51" name="bdi5" value="1" required="required">
                                <label for="bdi51" class="text-sm">1 Me siento culpable respecto de varias cosas que he hecho o que debería haber hecho</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi52" name="bdi5" value="2" required="required">
                                <label for="bdi52" class="text-sm">2 Me siento bastante culpable la mayor parte del tiempo</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi53" name="bdi5" value="3" required="required">
                                <label for="bdi53" class="text-sm">3 Me siento culpable todo el tiempo</label>
                            </div>
                        </li>
                    </ul>
                </article>
                <article>
                    <p>6. Sentimientos de Castigo</p>
                    <ul class="list-group">
                        <li>
                            <div>
                                <input type="radio" id="bdi60" name="bdi6" value="0" required="required">
                                <label for="bdi60" class="text-sm">0 No siento que este siendo castigado</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi61" name="bdi6" value="1" required="required">
                                <label for="bdi61" class="text-sm">1 Siento que tal vez pueda ser castigado</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi62" name="bdi6" value="2" required="required">
                                <label for="bdi62" class="text-sm">2 Espero ser castigado</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi63" name="bdi6" value="3" required="required">
                                <label for="bdi63" class="text-sm">3 Siento que estoy siendo castigado</label>
                            </div>
                        </li>
                    </ul>
                </article>
                <article>
                    <p>7. Disconformidad con uno mismo</p>
                    <ul class="list-group">
                        <li>
                            <div>
                                <input type="radio" id="bdi70" name="bdi7" value="0" required="required">
                                <label for="bdi70" class="text-sm">0 Siento acerca de mi lo mismo que siempre</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi71" name="bdi7" value="1" required="required">
                                <label for="bdi71" class="text-sm">1 He perdido la confianza en mi mismo</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi72" name="bdi7" value="2" required="required">
                                <label for="bdi12" class="text-sm">2 Estoy decepcionado conmigo mismo</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi73" name="bdi7" value="3" required="required">
                                <label for="bdi73" class="text-sm">3 No me gusto a mí mismo</label>
                            </div>
                        </li>
                    </ul>
                </article>
                <article>
                    <p>8.- Autocrítica </p>
                    <ul class="list-group">
                        <li>
                            <div>
                                <input type="radio" id="bdi80" name="bdi8" value="0" required="required">
                                <label for="bdi80" class="text-sm">0 No me crítico ni me culpo más de lo habitual</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi81" name="bdi8" value="1" required="required">
                                <label for="bdi81" class="text-sm">1 Estoy más critico conmigo mismo de lo que solía estarlo</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi82" name="bdi8" value="2" required="required">
                                <label for="bdi82" class="text-sm">2 Me crítico a mí mismo por todos mis errores</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi83" name="bdi8" value="3" required="required">
                                <label for="bdi83" class="text-sm">3 Me culpo a mí mismo por todo lo malo que sucede</label>
                            </div>
                        </li>
                    </ul>
                </article>
                <article>
                    <p>9. Pensamientos o Deseos Suicidas</p>
                    <ul class="list-group">
                        <li>
                            <div>
                                <input type="radio" id="bdi90" name="bdi9" value="0" required="required">
                                <label for="bdi90" class="text-sm">0 No tengo ningún pensamiento de matarme</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi91" name="bdi9" value="1" required="required">
                                <label for="bdi91" class="text-sm">1 He tenido pensamientos de matarme, pero no lo haría</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi92" name="bdi9" value="2" required="required">
                                <label for="bdi92" class="text-sm">2 Querría matarme</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi93" name="bdi9" value="3" required="required">
                                <label for="bdi93" class="text-sm">3 Me mataría si tuviera la oportunidad de hacerlo</label>
                            </div>
                        </li>
                    </ul>
                </article>
                <article>
                    <p>10. Llanto</p>
                    <ul class="list-group">
                        <li>
                            <div>
                                <input type="radio" id="bdi100" name="bdi10" value="0" required="required">
                                <label for="bdi100" class="text-sm">0 No lloro más de lo que solía hacerlo</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi101" name="bdi10" value="1" required="required">
                                <label for="bdi101" class="text-sm">1 Lloro más de lo que solía hacerlo</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi102" name="bdi10" value="2" required="required">
                                <label for="bdi102" class="text-sm">2 Lloro por cualquier pequeñez</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi103" name="bdi10" value="3" required="required">
                                <label for="bdi103" class="text-sm">3 Siento ganas de llorar pero no puedo</label>
                            </div>
                        </li>
                    </ul>
                </article>
                <article>
                    <p>11. Agitación</p>
                    <ul class="list-group">
                        <li>
                            <div>
                                <input type="radio" id="bdi110" name="bdi11" value="0" required="required">
                                <label for="bdi110" class="text-sm">0 No estoy más inquieto o tenso que lo habitual</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi111" name="bdi11" value="1" required="required">
                                <label for="bdi111" class="text-sm">1 Me siento más inquieto o tenso que lo habitual</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi112" name="bdi11" value="2" required="required">
                                <label for="bdi112" class="text-sm">2 Estoy tan inquieto o agitado que me es difícil quedarme quieto</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi113" name="bdi11" value="3" required="required">
                                <label for="bdi113" class="text-sm">3 Estoy tan inquieto o agitado que tengo que estar siempre en movimiento o haciendo algo</label>
                            </div>
                        </li>
                    </ul>
                </article>
                <article>
                    <p>12. Pérdida de Interés</p>
                    <ul class="list-group">
                        <li>
                            <div>
                                <input type="radio" id="bdi120" name="bdi12" value="0" required="required">
                                <label for="bdi120" class="text-sm">0 No he perdido el interés en otras actividades o personas.</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi121" name="bdi12" value="1" required="required">
                                <label for="bdi121" class="text-sm">1 Estoy menos interesado que antes en otras personas o cosas.</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi122" name="bdi12" value="2" required="required">
                                <label for="bdi122" class="text-sm">2 He perdido casi todo el interés en otras personas o cosas.</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi123" name="bdi12" value="3" required="required">
                                <label for="bdi123" class="text-sm">3 Me es difícil interesarme por algo.</label>
                            </div>
                        </li>
                    </ul>
                </article>
                <article>
                    <p>13. Indecisión</p>
                    <ul class="list-group">
                        <li>
                            <div>
                                <input type="radio" id="bdi130" name="bdi13" value="0" required="required">
                                <label for="bdi130" class="text-sm">0 Tomo mis propias decisiones tan bien como siempre.</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi131" name="bdi13" value="1" required="required">
                                <label for="bdi131" class="text-sm">1 Me resulta más difícil que de costumbre tomar decisiones</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi132" name="bdi13" value="2" required="required">
                                <label for="bdi132" class="text-sm">2 Encuentro mucha más dificultad que antes para tomar decisiones.</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi133" name="bdi13" value="3" required="required">
                                <label for="bdi133" class="text-sm">3 Tengo problemas para tomar cualquier decisión.</label>
                            </div>
                        </li>
                    </ul>
                </article>
                <article>
                    <p>14. Desvalorización</p>
                    <ul class="list-group">
                        <li>
                            <div>
                                <input type="radio" id="bdi140" name="bdi14" value="0" required="required">
                                <label for="bdi140" class="text-sm">0 No siento que yo no sea valioso</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi141" name="bdi14" value="1" required="required">
                                <label for="bdi141" class="text-sm">1 No me considero a mi mismo tan valioso y útil como solía considerarme</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi142" name="bdi14" value="2" required="required">
                                <label for="bdi142" class="text-sm">2 Me siento menos valioso cuando me comparo con otros.</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi143" name="bdi14" value="3" required="required">
                                <label for="bdi143" class="text-sm">3 Siento que no valgo nada.</label>
                            </div>
                        </li>
                    </ul>
                </article>
                <article>
                    <p>15. Pérdida de Energía</p>
                    <ul class="list-group">
                        <li>
                            <div>
                                <input type="radio" id="bdi150" name="bdi15" value="0" required="required">
                                <label for="bdi150" class="text-sm">0 Tengo tanta energía como siempre.</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi151" name="bdi15" value="1" required="required">
                                <label for="bdi151" class="text-sm">1 Tengo menos energía que la que solía tener.</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi152" name="bdi15" value="2" required="required">
                                <label for="bdi152" class="text-sm">2 No tengo suficiente energía para hacer demasiado</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi153" name="bdi15" value="3" required="required">
                                <label for="bdi153" class="text-sm">3 No tengo energía suficiente para hacer nada.</label>
                            </div>
                        </li>
                    </ul>
                </article>
                <article>
                    <p>16. Cambios en los Hábitos de Sueño</p>
                    <ul class="list-group">
                        <li>
                            <div>
                                <input type="radio" id="bdi160" name="bdi16" value="0" required="required">
                                <label for="bdi160" class="text-sm">0 No he experimentado ningún cambio en mis hábitos de sueño.</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi161" name="bdi16" value="1" required="required">
                                <label for="bdi161" class="text-sm">1a Duermo un poco más que lo habitual.</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi162" name="bdi16" value="1" required="required">
                                <label for="bdi162" class="text-sm">1b Duermo un poco menos que lo habitual.</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi163" name="bdi16" value="2" required="required">
                                <label for="bdi163" class="text-sm">2a Duermo mucho más que lo habitual.</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi164" name="bdi16" value="2" required="required">
                                <label for="bdi164" class="text-sm">2b Duermo mucho menos que lo habitual</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi165" name="bdi16" value="3" required="required">
                                <label for="bdi165" class="text-sm">3a Duermo la mayor parte del día</label>
                            </div>
                        </li>

                        <li>
                            <div>
                                <input type="radio" id="bdi166" name="bdi16" value="3" required="required">
                                <label for="bdi166" class="text-sm">3b Me despierto 1-2 horas más temprano y no puedo volver a dormirme</label>
                            </div>
                        </li>
                    </ul>
                </article>
                <article>
                    <p>17. Irritabilidad</p>
                    <ul class="list-group">
                        <li>
                            <div>
                                <input type="radio" id="bdi170" name="bdi17" value="0" required="required">
                                <label for="bdi170" class="text-sm">0 No estoy tan irritable que lo habitual.</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi171" name="bdi17" value="1" required="required">
                                <label for="bdi171" class="text-sm">1 Estoy más irritable que lo habitual.</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi172" name="bdi17" value="2" required="required">
                                <label for="bdi172" class="text-sm">2 Estoy mucho más irritable que lo habitual.</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi173" name="bdi17" value="3" required="required">
                                <label for="bdi173" class="text-sm">3 Estoy irritable todo el tiempo.</label>
                            </div>
                        </li>
                    </ul>
                </article>
                <article>
                    <p>18. Cambios en el Apetito</p>
                    <ul class="list-group">
                        <li>
                            <div>
                                <input type="radio" id="bdi180" name="bdi18" value="0" required="required">
                                <label for="bdi180" class="text-sm">0 No he experimentado ningún cambio en mi apetito.</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi181" name="bdi18" value="1" required="required">
                                <label for="bdi181" class="text-sm">1a Mi apetito es un poco menor que lo habitual.</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi182" name="bdi18" value="1" required="required">
                                <label for="bdi182" class="text-sm">1b Mi apetito es un poco mayor que lo habitual.</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi183" name="bdi18" value="2" required="required">
                                <label for="bdi183" class="text-sm">2a  Mi apetito es mucho menor que antes.</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi184" name="bdi18" value="2" required="required">
                                <label for="bdi184" class="text-sm">2b Mi apetito es mucho mayor que lo habitual</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi185" name="bdi18" value="3" required="required">
                                <label for="bdi185" class="text-sm">3a No tengo apetito en absoluto.</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi186" name="bdi18" value="3" required="required">
                                <label for="bdi13" class="text-sm">3b Quiero comer todo el día.</label>
                            </div>
                        </li>
                    </ul>
                </article>
                <article>
                    <p>19. Dificultad de Concentración</p>
                    <ul class="list-group">
                        <li>
                            <div>
                                <input type="radio" id="bdi190" name="bdi19" value="0" required="required">
                                <label for="bdi190" class="text-sm">0 Puedo concentrarme tan bien como siempre.</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi191" name="bdi19" value="1" required="required">
                                <label for="bdi191" class="text-sm">1 No puedo concentrarme tan bien como habitualmente</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi192" name="bdi19" value="2" required="required">
                                <label for="bdi192" class="text-sm">2 Me es difícil mantener la mente en algo por mucho tiempo.</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi193" name="bdi19" value="3" required="required">
                                <label for="bdi193" class="text-sm">3 Encuentro que no puedo concentrarme en nada.</label>
                            </div>
                        </li>
                    </ul>
                </article>
                <article>
                    <p>20. Cansancio o Fatiga</p>
                    <ul class="list-group">
                        <li>
                            <div>
                                <input type="radio" id="bdi200" name="bdi20" value="0" required="required">
                                <label for="bdi200" class="text-sm">0 No estoy más cansado o fatigado que lo habitual.</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi201" name="bdi20" value="1" required="required">
                                <label for="bdi201" class="text-sm">1 Me fatigo o me canso más fácilmente que lo habitual.</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi202" name="bdi20" value="2" required="required">
                                <label for="bdi202" class="text-sm">2 Estoy demasiado fatigado o cansado para hacer muchas de las cosas que solía hacer</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi203" name="bdi20" value="3" required="required">
                                <label for="bdi203" class="text-sm">3 Estoy demasiado fatigado o cansado para hacer la mayoría de las cosas que solía hacer</label>
                            </div>
                        </li>
                    </ul>
                </article>
                <article class="mb-3">
                    <p>21. Pérdida de Interés en el Sexo</p>
                    <ul class="list-group">
                        <li>
                            <div>
                                <input type="radio" id="bdi210" name="bdi21" value="0" required="required">
                                <label for="bdi210" class="text-sm">0 No he notado ningún cambio reciente en mi interés por el sexo.</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi211" name="bdi21" value="1" required="required">
                                <label for="bdi211" class="text-sm">1 Estoy menos interesado en el sexo de lo que solía estarlo.</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi212" name="bdi21" value="2" required="required">
                                <label for="bdi212" class="text-sm">2 Estoy mucho menos interesado en el sexo.</label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="radio" id="bdi213" name="bdi21" value="3" required="required">
                                <label for="bdi213" class="text-sm">3 He perdido completamente el interés en el sexo.</label>
                            </div>
                        </li>
                    </ul>
                </article>
            </div>
            <h4 class="text-gray-600 text-center text-xl mb-6">Test de Frases incompletas</h4>
            <p class="text-gray-600 text-center text-sm m-6">Instrucciones:  A continuación hay 24 frases incompletas. Lea cada una y complétela con frases cortas con lo primero que venga a su mente. Trabaje tan aprisa como le sea posible.</p>

            <button type="submit" class="w-96 bg-blue-500 hover:bg-blue-700 h-10 px-5 pr-16 rounded-lg text-white font-bold m-4">
                Enviar Respuesta
            </button>
        </section>
    </form>
    {% include 'components/footer.html' %}
{% endblock %}