{% extends 'base.html' %}

{% block body %}

    <body>
        {% include 'components/navbar.html' %}
        {% block content %}
        {% endblock %}
        {% include 'components/footer.html' %}
        {% block javascript %}
        {% endblock %}
        <script>
            {% if messages %}
                var html = '<p>';
                {% for message in messages %}
                    html += '{{ message }}<br>';
                {% endfor %}
                html += '</p>'
                Swal.fire({
                    title: 'Error!',
                    html: html,
                    icon: 'error'
                });
            {% endif %}
        </script>
    </body>

{% endblock %}
